@import '../utils.scss';

.login {
    &.container {
        max-width: 460px;
        width: 80%;
        border: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .emailForm, .passwordForm {
        &.input {
            border: none;
            border-bottom: 3px solid grey;
            font-size: 25px;
            width: 90%;
            margin: 0 5%;
            height: 40px;
            &:focus {
                outline: none;
                border-bottom: 3px solid $main-component-color;
            }
        }
        &.label {
            margin: 20px 5% 0;
            font-size: 13px;
            max-width: 400px;
            width: 90%;
        }
    }

    .logo {
        max-width: 180px;
        width:50%;
        margin: 0 auto;
        > img {
            max-width: 150px;
            width: 80%
        }
    }

    .loginBtn {
        width: 90%;
        height: 50px;
        border: 0;
        margin: 0 5%;
        font-size: 17px;
        background-color: $main-component-color;
        border-radius: 5px;
    }

    
    .loginTitle {
        max-width: 400px;
        width: 90%;
        margin: 0 5% 10px;
        font-size: 60px;
        text-align: center;
        font-family: $logo-font;
    }

    .isAutoSave {
        width: 100%;
        margin: 0 7% 40px;
        input {
            margin: 0 7px 0 0;
        }
        
    }

    .loginError {
        width: 100%;
        color: red;
        font-size: 13px;
        margin: 0 30px 5px 35px;
    }

    .link {
        div {
            display: inline-block;
            width: 50%;
            text-align: center;
        }
        max-width: 400px;
        width: 90%;
        margin: 10px 5%;
        a {
            text-decoration: None;
            color: rgb(70, 70, 70);
        }
        a:hover {
            color: rgb(200, 200, 200);
        }
    }
}