@import './utils.scss';
// default setting

* {
    font-family: $main-font;
    color: $main-color;
    background-color: $main-background-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

