@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|East+Sea+Dokdo&display=swap');
$logo-font: 'East Sea Dokdo';
$main-font: 'Do Hyeon';
$main-component-color: rgb(52, 152, 219);
$main-background-color: black;
$main-color: white;

